.recommended {
  flex-basis: 30%;
}

.side-video-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.video-thumbnail {
  flex-basis: 49%;
  width: 50%;
  border-radius: 10px;
}

.vid-info {
  flex-basis: 40%;
  margin: 5px 9px;
}

.video-title {
  font-size: 13px;
  margin-bottom: 5px;
}

.vid-info p {
  font-size: 14px;
  font-weight: 500;
  color: #5a5a5a;
}

.video-channel-name {
  cursor: pointer;
}

.video-menu-icon {
  height: 20px !important;
  flex-basis: 9%;
  border-radius: 50%;
  margin: 4px 7px;
  cursor: pointer;
  object-fit: contain;
}

/* Dark Mode Enhancements */
.recommended.dark-mode {
  background-color: #0d0d0d;
}

.recommended.dark-mode .side-video-list:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.recommended.dark-mode .video-title,
.recommended.dark-mode .video-channel-name {
  color: #f1f1f1;
}
.recommended.dark-mode .vid-info p {
  color: #7d7d7d;
}
.recommended.dark-mode .video-menu-icon {
  filter: brightness(0) invert(1); /* makes the icon look white */
}
